
<!-- As a heading -->
<nav class="navbar navbar-light bg-light" style="background-color:blueviolet; color:aliceblue">
	<span class="navbar-brand mb-0 h1">BookManagement System</span>
</nav>


@code {

}
