@page "/"

<h3>Book List</h3>


<BookDisplay @bind-SelectedBook="selectedBook" />

<button class="btn btn-primary" @onclick="AddBook">Add Book</button>

<Add_EditBook @bind-Book="selectedBook" />

@code {
    private Book selectedBook = null;

    private void AddBook()
    {
        selectedBook = new Book(); // Initialize a new book for adding
    }
}
